@font-face {
  font-family: 'Poppins', sans-serif;
  src: url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
  font-display: swap;
}

body{
     font-family: 'Poppins', sans-serif;
}

.text-color{
     color: #001E9A;
     font-family: 'Poppins', sans-serif;
}
.custom-font {
     font-size: 56px;
}
.btn-primary {
     background-color: #001E9A !important;
     border: none;
}

@media (max-width: 768px) {
  /* CSS rules for small screens */
     .custom-font {
          font-size: 30px;
     }
     .img-sm {
          right: -220%;
          top:-50%;
     }
}
